html body {
    background: black;
}

#img {
    margin: auto;
    width: 100%;
}

#playersParagraph {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#userParagraphName{
    margin-top: 10px;
    color: white;
    font-size: 2em;
}

#userName{
    color: black;
}

#username{
    color: black;
}

.homeButtons{
    font-size: 50px;
    margin: 100px;
}

.side{
    margin: 20px;
}

#helloUsername{
    color: white;
}

#gameHeader {
    color: white;
    font-size: 150px;
    margin: 10px;
}

#roleStr{
    font-size: 50px;
}

#nightResults{
    margin: 10px;
    color: white;
    font-size: 50px;
}

#chooseButtons{
    font-size: 50px;
    padding: 10px;
}

.MurderDetectiveChoice{
    margin: 4px;
}
button .badge{
    font-size: 60px;
    border-radius: 40px;
}

#playersRole {
    font-size: 100px;
    position: absolute;
    top: 30%;
}

div .playersLabales{
    color: white;
    font-size: 50px;
}

#roleh1{
    color: white;
    font-size: 150px;
    margin-top: 50px;
}

#helloh3 {
    font-size: 80px;
}

.img-responsive {
    margin: 0 auto;
}

div #helloUserInGame{
    font-size: 50px;
}