	<div class="container">
		<div id="gameHeader" class="text-center">Ready...</div>
		<img id="sentence" class="img-responsive" src="sentence.jpg">
		<div id="playersParagraph"></div>
			
		
	</div>











	<div class="text-center">
		
		<div id="nightResults"></div>
		<div id="chooseButtons"></div>
		<div id="regularButtons">

			<div class="container homeButtons">
				<button id="start" class="side">Start Game</button>
				<button id="newGame" class="side">New Game</button>
				<!-- <button id="newRound" class="side">Start Round</button> -->
			</div>
		</div>
	</div>
